* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#contact {
  border: 1px solid black;
  width: 80%;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
}

#contact h2 {
  text-align: center;
}
