* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

footer {
  text-align: center;
  margin: 10px;
  width: 100%;
  height: 20vh;
}

#contact {
  border: 1px solid black;
  width: 80%;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
}

#contact h2 {
  text-align: center;
}

#portfolio {
  margin: auto;
  border: 1px solid red;
}

#portfolio h2 {
  text-align: center;
}

.portfolio-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
}
